# OpenAI secrets
OPENAI_API_KEY = "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"

# Astra DB secrets
ASTRA_ENDPOINT = "https://5cb7a1c1-7628-448e-ad00-ca175297755c-us-east-2.apps.astra.datastax.com"
ASTRA_TOKEN = "AstraCS:RkDSOQTZMjHkslMwbSwnlctz:9e3efa81d1b27809822ac1e3c8a178acd3a57eea8593f10942ff3467bc1d6705"

# Optionally: LangSmith secrets for tracing
LANGCHAIN_TRACING_V2 = "true"
LANGCHAIN_ENDPOINT = ""
LANGCHAIN_API_KEY = ""
LANGCHAIN_PROJECT = ""

[passwords]
# Follow the rule: username = "password"
# Where username defines the Astra Vector Table and the rails.csv experience
username = "ragllm"
password = "ragllm_123"

[languages]
# Follow the rule: username = "localization_code"
# Where localization_code defines the language from localization.csv
postnl = "nl_NL"
datastax = "en_US"

[delete_option]
# Follow the rule: username = "delete_option"
# Where delete_option = True allows the 'Delete Context' button to be shown for that username
datastax = "True"
